<ul>
    <li>Product id: <%= link_to product.id, product_path(product.id) %> </li>
    <li>Product Name: <%= product.name %></li>
    <li>Product Description: <%= product.description %></li>
    <li>Product Price: <%= product.formatted_price %></li>
</ul>