<h1>Products</h1>

<ul>
  <li>Product Name: <%= @product.name %></li>
  <li>Product Name: <%= @product.description %></li>
  <li>Product Name: <%= @product.price_in_cents %></li>
  <li>Product Name: <%= @product.formatted_price %></li>
</ul>

